{{seconds}}

{{#if (eq gamemode "singleplayer")}}
  {{#if (eq gamestate "0")}}
    <a href {{action "nextGamestateSingleplayer" 1 1}}><img src="./assets/images/play.png" class="imageSize"></a>
  {{/if}}

  {{#if (eq gamestate "1")}}
    <div class="huge">
      {{username1}}<br>{{model.pointsOne}}
    </div>

    ID: {{model.id}}<br>
    Mode: {{model.mode}}<br>
    Round: {{model.round}}<br>
    activePlayer: {{model.activePlayer}}<br>
    <div class="footer navbar-fixed-bottom">
      <div class="support-img">
        {{#link-to "application"}}
          <a href {{action "stop"}}><img src="./assets/images/Stop.svg" class="back"></a>
        {{/link-to}}
      </div>
    </div>
  {{/if}}
  {{#if (eq gamestate "2")}}
    EINDE
  {{/if}}

{{else}}

  {{#if (eq gamestate "0")}}
    {{#if (not-eq username1 username2)}}
      {{#if (and username1 username2)}}
        <a href {{action "nextGamestateMultiplayer" 1 2}}><img src="./assets/images/play.png" class="imageSize"></a>
      {{else}}
        <img src="./assets/images/play.png" class="imageSize">
      {{/if}}
    {{else}}
      <img src="./assets/images/play.png" class="imageSize">
    {{/if}}
    {{input type="text" value=username1}}
    {{input type="text" value=username2}}
  {{/if}}

  {{#if (eq gamestate "1")}}
    <div class="container">
      <div class="score">
        <div class="huge">
          Aantal Behaalde Punten:<br>
          {{model.pointsOne}}<br>
          {{username1}}
        </div>
      </div>
      <div class="score">
        <div class="huge">
          Aantal Behaalde Punten:<br>
          {{model.pointsTwo}}<br>
          {{username2}}
        </div>
      </div>
    </div>
    {{#if (eq model.activePlayer 1)}}
      {{username1}} moet gooien!
    {{else}}
      {{username2}} moet gooien!
    {{/if}}
    <div class="footer navbar-fixed-bottom">
      <div class="support-img">
        {{#link-to "application"}}
          <a href {{action "stop"}}><img src="./assets/images/Stop.svg" class="back"></a>
        {{/link-to}}
      </div>
    </div>
  {{/if}}
  {{#if (eq gamestate "2")}}
    EINDE
  {{/if}}

{{/if}}
