<div class="indent-left">
  {{#if active}}
    <h1>Testmogelijkheden:</h1>
    {{#each employees as |employee|}}
      Werknemer ID: {{employee.id}}<br>
      LED: <button {{action 'toggleLED'}}>Start Test</button><br>
      Servo: <button {{action 'servoToOrigin'}}>Start Test</button><br><br>
    {{/each}}
    <h1>Gebruikers:</h1>
    {{#each model as |account|}}
      <button {{action 'deleteAccount' account}}>Delete</button>
      Gebruiker: {{account.id}}<br><br>
    {{/each}}
  {{else}}
    <h1>Houd je rfid erbij!</h1>
  {{/if}}
</div>
{{outlet}}
