  {{#if active}}
    <div class="indent-left">
      <h1>Testmogelijkheden:</h1>
      {{#each employees as |employee|}}
        Werknemer ID: {{employee.id}}<br>
        LED: <button {{action 'toggleLED'}}>Start Test</button><br>
        Servo: <button {{action 'servoToOrigin'}}>Start Test</button><br>
        SystemRuntime: {{systemRuntime}} <button {{action 'clearSystemRuntime'}}>Reset</button><br>
        ServoRuntime: {{servoRuntime}} <button {{action 'clearServoRuntime'}}>Reset</button><br><br>
      {{/each}}
      <h1>Gebruikers:</h1>
      {{#each model as |account|}}
        <button {{action 'deleteAccount' account}}>Delete</button>
        Gebruiker: {{account.id}}<br><br>
      {{/each}}
    </div>
  {{else}}
    <br><br>
    <div class="huge">
      <h1>Bied RFID tag aan</h1>
    </div>
  {{/if}}
{{outlet}}
