<div class="stefan">
  <h1> Scorebord </h1> <br>

  {{#each arrangedContent as |account|}}
    Gebruiker: {{account.id}}<br>
    Points: {{account.totalPoints}}<br>
  {{/each}}
  {{data}}
  {{sortingProperties}}
</div>

{{outlet}}
