<div class="indent-left">
  <h1> Scorebord </h1>
  {{#if (eq data "totalPoints")}}
    {{#each arrangedContent as |account|}}
      Gebruiker: {{account.id}}<br>
      Totale Punten: {{account.totalPoints}}<br><br>
    {{/each}}
  {{else if (eq data "highestPoints")}}
    {{#each arrangedContent as |account|}}
      Gebruiker: {{account.id}}<br>
      Hoogste Punten: {{account.highestPoints}}<br><br>
    {{/each}}
  {{else}}
    {{#each arrangedContent as |account|}}
      Gebruiker: {{account.id}}<br>
      Gemiddelde Punten: {{account.averagePoints}}<br><br>
    {{/each}}
  {{/if}}
</div>
<form {{action "sort" "totalPoints"}}>
  <button type = "submit">Sorteer op totaal behaalde punten!</button>
</form>
<form {{action "sort" "highestPoints"}}>
  <button type = "submit">Sorteer op hoogst behaalde punten in 1 ronde!</button>
</form>
<form {{action "sort" "averagePoints"}}>
  <button type = "submit">Sorteer op gemiddelde punten!</button>
</form>

{{input type="text" value=username}}
{{outlet}}
