<div class="indent-left scoreboard">
  <h1> Scorebord </h1>

  {{#if (eq data "totalPoints")}}
    {{#each arrangedContent as |account|}}
      Gebruiker: {{account.id}}<br>
      Totale Punten: {{account.totalPoints}}<br><br>
    {{/each}}
  {{else if (eq data "highestPoints")}}
    {{#each arrangedContent as |account|}}
      Gebruiker: {{account.id}}<br>
      Hoogste Punten: {{account.highestPoints}}<br><br>
    {{/each}}
  {{else}}
    {{#each arrangedContent as |account|}}
      Gebruiker: {{account.id}}<br>
      Gemiddelde Punten: {{account.averagePoints}}<br><br>
    {{/each}}
  {{/if}}
</div>
<div class="data-input">
  <div class="indent-sort">
    <h3>Sorteer op:</h3>
  </div>
  <form {{action "sort" "totalPoints"}}>
    <button type = "submit" class="button-width">Totale punten!</button><br>
  </form>
  <form {{action "sort" "averagePoints"}}>
    <button type = "submit" class="button-width">Gemiddelde punten!</button>
  </form>
  <form {{action "sort" "highestPoints"}}>
    <button type = "submit" class="button-width">Hoogste punten in 1 ronde!</button><br>
  </form>
  <br>
  {{input type="text" placeholder="Zoek je gebruikersnaam op!" value=filtername size=21}}
</div>
{{outlet}}
